*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#container{
    display: flex;
    flex-wrap: wrap;
}

header, nav, footer{
    width: 100%;
}

header, nav, main, aside, footer{
    flex-grow: 1;
    padding: 1rem;
}

header{
    background-color: lightcoral;
}

nav{
    background-color: lightcoral;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: lightcyan;
    width: 70%;
    min-width: 500px;
}

main h2{
    width: 100%;
}

main article{
    width: 30%;
    min-width: 250px;
    flex-grow: 1;
}

aside{
    background-color: lightgoldenrodyellow;
    width: 30%;
}

footer{
    background-color: lightgray;
    color: darkred;
}
