/*Satt fast med flex-box og skulle starte med ny css uten flexbox.
Fant feilen, som var at nav sin max-height var 32px.
Dette gjorde at innholdet i nav og header kræsja sammen*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    color: #000;
}

nav {
    margin-bottom: 5px;
    font-size: 14px;
}

#meny-logo {
    max-height: 32px;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    color:#000;
}

ul li a {
    text-decoration: none;
}

button {
    background-color: #fff;
    font-weight: 900;
    padding: 5px 10px 5px 10px;
    border-style: dotted;
}

footer {
    padding: 20px;
    border-top: 2px;
    border-top-style: dotted;
    background-color: #d3d3d3;
}

.ikon {
    width: 32px;
}

#banner{
    background-color: #f0f8ff;
    padding: 20px;
    margin: 20px;
}

#produkter a{
    margin-bottom: 5px;
}

.produktkort {
}

.img-produktkort{
    max-height: 1000px;
    max-width: 1000px;
    margin-top: 5px;
}

#anmeldelser{
    flex-direction: column;
}

#footer-logo {
    max-height: 32px;
}